@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root{


}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background: #fff;
  font-family: 'Nunito',sans-serif;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items:center;

}

.container{
  width: 500px;
  height: 500px;
  background: white;
  border: 1px solid black;
}

svg{
  width: inherit;
  height: inherit;
}

#blue1{animation: animateBlue 6s 0s linear forwards infinite}
#blue2{animation: animateBlue 6s 3s linear forwards infinite;}
#blue3{animation: animateBlue 12s 0s linear forwards infinite;}

#green1{animation: animateGreen 6s 0s linear forwards infinite}
#green2{animation: animateGreen 6s 3s linear forwards infinite;}
#green3{animation: animateGreen 12s 0s linear forwards infinite;}

#yellow1{animation: animateYellow 6s 0s linear forwards infinite}
#yellow2{animation: animateYellow 6s 3s linear forwards infinite;}
#yellow3{animation: animateYellow 12s 0s linear forwards infinite;}


@keyframes animateBlue {
  0%{clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);}
  50%{clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);}
  100%{clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
}
@keyframes animateGreen {
  0%{clip-path: polygon(0% 70%, 0 100%, 70% 100%, 70% 100%, 0 100%, 0% 70%);}
  50%{clip-path: polygon(70% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0% 70%);}
  100%{clip-path: polygon(70% 0, 100% 0, 100% 70%, 100% 70%, 100% 0, 70% 0);}
}
@keyframes animateYellow {
  0%{clip-path: polygon(0 0, 43% 0, 49% 0, 4% 4%, 0 35%, 0 33%);}
  50%{clip-path: polygon(0 0, 43% 0, 100% 65%, 100% 100%, 54% 100%, 0 33%);}
  100%{clip-path: polygon(95% 95%, 100% 56%, 100% 64%, 100% 100%, 56% 100%, 48% 100%);}
}
