@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root{
  --stroke:0;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background: white;
  color: #999;
  font-family: 'Nunito',sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 500px;
  height: 500px;
  perspective: 2000px;
  position: relative;
  /* border: 1px solid coral; */
}

#svg{
  width: inherit;
  height: inherit;
  position: absolute;
  /* border: 1px solid black; */
}

.app1{
  stroke-dashoffset: 0;
  stroke-dasharray: 1000;
  animation: animateStem 15s ease-in-out forwards infinite;
}

.app2{
  stroke-dashoffset: 0;
  stroke-dasharray: 1700;
  animation: animateAll 15s steps(100) forwards infinite;
}
@keyframes animateStem {
  0%{stroke-dashoffset: 1000;}
  20%{stroke-dashoffset: -1000;}
  40%{stroke-dashoffset: 0;}
  60%{stroke-dashoffset: 0;}
  80%{stroke-dashoffset: 0;}
  100%{stroke-dashoffset: 0;}
}
@keyframes animateAll {
  0%{stroke-dashoffset: 1700;}
  20%{stroke-dashoffset: 1700;}
  40%{stroke-dashoffset: 800;}
  60%{stroke-dashoffset: 0;}
  80%{stroke-dashoffset: -1700;}
  90%{stroke-dashoffset: 0;}
  100%{stroke-dashoffset: 0;}
}

